/* CSS externo */

/*seletor {
      propriedade: valor;
 }*/
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Arquivo CSS da fonte Ubuntu */

 
 :root {
    
        --cor-primaria: rgb(222, 104, 102);    
        --cor-secundaria:#ffffff;
        --cor-fundo-pagina: #e0d497dd;
        --cor-fundo-cartao: rgb(230, 163, 156);
        --cor-primaria-texto: #000000;
        --cor-secundaria-texto:#ffffff;
        --cor-bordas: #e64545;
        --cor-botao:#ffda55;
        --borda-cartao: 2px solid #f132324d;
    }
    
    
    [data-theme="dark"]{
        --cor-primaria: rgb(165, 29, 27);    
        --cor-secundaria:#da929255;
        --cor-fundo-pagina: #000000d5;
        --cor-fundo-cartao: rgb(107, 48, 42);
        --cor-primaria-texto: #ffffff;
        --cor-secundaria-texto:#ffffff;
        --cor-bordas: #e64545;
        --cor-botao:#d09109;
        --borda-cartao: 2px solid #2b0d0d4d;
    }

    [data-theme= "daltonismo"]{
        --cor-primaria: #fafafa;
        --cor-secundaria:#ffffff;
    
        --cor-fundo-pagina: #000000;
        --cor-fundo-cartao:#000000;
        --cor-primaria-texto: #ffffff;
        --cor-secundaria-texto:#f9f9f9;
        --cor-bordas: #ffffff;
        --cor-botao:#000000;
    }
    
    body {
       font-family: 'ubunto', sans-serif;
       background-color: var(--cor-fundo-pagina);
       color: var(--cor-primaria-texto);
   }

nav h1 {
    text-align: center;
}


h1 {
    font-size: 2rem;
    /* 1rem = 16pc -> 1em = "M" */
    font-weight: bold;
    color: var(--cor-primaria);
   
    
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-primaria   );
}

.sobreMim{
     text-align: center;
 }

header {
    background-color:var(--cor-primaria);
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    /* pode ser necessário top, left, bottom ou right */
    top: 0;

}
.imagem-escola{
    display: block;
    margin: auto;
    width: 20%;
    display:grid;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.rick-nas-neves{
    display: block;
    margin: auto;
    width: 30%;
    display:grid;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 50%;

}

.imagem-projeto {
    display: block;
    margin: auto;
    width: 40%;
    display:grid;
    align-items: center;
    margin-bottom: 2rem;
}


#sobreMim li {
    text-align: center;
}
section{
    text-align: center;
}

section a:hover {
    background-color: var(--cor-fundo-pagina);
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: var(--cor-botao);
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color: var(--cor-secundaria);
}


section {
    min-height: 100vh;
    /* vh -> viewport height ( altura da viewport) */
    scroll-margin-top: 4rem;
    padding: 4rem;
    border: 20px;
    /* overflow: hidden; */
    display:grid;
    align-items: center;
}

section#formaçãoAcademica,
section#hardSkills{
    border: none
}

.titulo-secao{
    text-align: center;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 1rem;
}

body {
    text-align: center;
}

section a {
    color: var(--cor-secundaria);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    text-align: center;
}

input,
textarea {
    border: 1px var(--cor-fundo-pagina);;
    border-radius: 4px;
    padding: .25rem .75rem;
    color: var(--cor-primaria-texto);
    resize: none;
}

input[type="submit"] {
    background-color: var(--cor-primaria);;
    color: var(--cor-botao);
    padding: .25rem .75rem;
    border: none;
    font-weight: 700;
}

/* ESTILOS DOS CARDS */

.card{
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    list-style: none;
    background-color: var(--cor-fundo-cartao);
    border: var(--borda-cartao);
    align-items: center;
}

.card li{
    margin-bottom: 0,5rem;
}


.titulo-card{
    font-weight:bold;
    color: var(--cor-primaria);
    font-size: 1.3rem;
    
}
.instituicao-card{
    font-size: 1.1rem;
    color: var(--cor-secundaria-texto );
}

.imagem-projeto img{
    width: 100%;
    border-radius: 8px;
}

.cards-em-coluna{
    display:flex;
    flex-direction: column;
    gap: 1rem
}

.descricao-card{
    margin-top:0.5rem;
    font-size:0.95rem;
    color: var(--cor-primaria-texto)
}


#meusProjetos .card{
    width:30%
}

 .descricao-card{
    font-size: 1.1rem;
    color: #555;
    
} 

.cards-em-linha{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.botao{
    padding:0.5 rem 1rem;
    border: none;
    border-radius:4px;
    margin:0.3rem 0.3rem 0 0;
    font-weight: bold;

}

.botao:houver {
    background-color: var(--cor-primaria-texto);
    color:var(--cor-primaria-texto);
 
}

.botao-demo,
.botao-continue{
    background-color: var(--cor-primaria);
    color:var(--cor-primaria-texto)
}

.botao-compartilhar:hover{
    background-color: var(--cor-secundaria-texto);
}

.artigos header{
    background-color: var(--cor-fundo-cartao);
    box-shadow: none;
    position: initial;
}
.artigos{
    justify-content:space-evenly
}
.artigos article{
    display:flex;
    flex-direction: column;
    padding:1rem;
    border-left:5px solid var(--cor-primaria);
    margin-bottom: 1rem;
    border-radius:8 px;
    text-align: center;
    
}
.artigos h3 {
    display:flex;
    flex-direction: column;
    width: 30%;
    padding:1rem;
    border-left:5px solid var (--cor-primaria);
    margin-bottom: 1rem;
    border-radius:8 px
}
